<h1>Orders Placed</h1>

<div *ngIf="orders$ | async as orders">
  <table class="table table-striped" [mfData]="orders" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
      <tr>
        <th style="width: 40%">
          <mfDefaultSorter by="title">Order Id</mfDefaultSorter>
        </th>
        <th style="width: 40%">
          <mfDefaultSorter by="price">User Id</mfDefaultSorter>
        </th>
        <th style="width: 40%">
          <mfDefaultSorter by="price">Order Date</mfDefaultSorter>
        </th>
        <th style="width: 20%">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.key}}</td>
        <td>{{item.userId}}</td>
        <td>{{item.datePlaced.toLocaleString()}}</td>
        <td>
          <a href="#">View</a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
